<h3>Equipamento</h3>
<div class="grid p-fluid">
    
    <div>
        <label for="serialNumber" style="display:block; padding-bottom: 0.4rem;">SerialNumber</label>
        <input id="serialNumber"  style="margin-bottom: 0.4rem;" pInputText  [(ngModel)]="equipamento.serial" />
    
    </div>
    
    <div>
        <label for="coordenadas"></label>
        <p-selectButton id="coordenadas" [options]="stateOptions" [(ngModel)]="equipamento.status"  optionLabel="label" optionValue="value" (onChange)="toggle($event.value)"></p-selectButton>
        
    </div>
    
    <div class="col-12 md:col-4">
        <h4>Longitude e Latitude</h4>
        <p-inputNumber [(ngModel)]="equipamento.localizacao"   mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
        </p-inputNumber>
    </div>
</div>