<h3>Equipamento</h3>
<div class="grid p-fluid">
    
    <div class="col-12 md:col-4">
        <h4></h4>
        <label for="serialNumber">SerialNumber</label>
        <p-inputNumber [(ngModel)]="value2" mode="decimal" inputId="serialNumber" [useGrouping]="false">
        </p-inputNumber>
    </div>
    
    <div class="col-12 md:col-4">
        <h4>Status</h4>
        <p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value" (onChange)="toggle($event.value)"></p-selectButton>
        
    </div>
    
    <div class="col-12 md:col-4">
        <h4>Longitude e Latitude</h4>
        <p-inputNumber [(ngModel)]="value3" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
        </p-inputNumber>
    </div>
</div>